* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(65, 58, 69);
}

html {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(242, 233, 252);
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    margin: 40px auto;
}

a{
    text-decoration: none;
}
.wrapper {
    width: 60%;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    gap: 20px;
    margin: 0 auto;
}

.slider-wrapper {
    width: 100%;
    height: 490px;
    position: relative;
    box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.302);
    overflow: hidden;
}

.slider-content {
    transition: transform 0.5s ease;
}

.slider {
    width: 100%;
    height: 100%;
    height: 490px;
}

.slider.active {
    display: block;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.description-wrapper {
    width: 100%;
    height: 100%;
    margin: 15px;
    margin-left: 0;
}

.description {
    display: none;
}

.description.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
   
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
    margin-right: 0;
    flex-wrap: nowrap;
    gap: 15px;
}

.dot.active {
    background-color: rgb(242, 233, 252);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.202);
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(160, 148, 166);
    border: 2px solid rgb(160, 148, 166);
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
}

.dot:hover {
    background-color: rgb(242, 233, 252);
    border: 2px solid rgb(160, 148, 166);

}

.big-dot {
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
}

.big-dot:hover .dot {
    background-color: rgb(242, 233, 252);
    border: 2px solid rgb(160, 148, 166);
}

.content {
    flex: 1 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    ;
    flex-shrink: 0;
    width: 60%;
    margin: 40px auto;
}

.show {
    opacity: 1;
}

.footer {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

@media (min-width:320px) and (max-width:767px){
    .slider-wrapper {
        height: 190px;
    }

    .btn-wrapper{
        flex-direction: column-reverse;
    }

    .slider{
        height: 190px; 
    }

    .footer{
        display: none;
    }

    footer{
        gap: 85px;
    }

    .wrapper{
        width: 80%;
    }
}